<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Премиальные автомобили</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="px-3 py-2 text-bg-dark border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/"
                        class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                            <use xlink:href="#bootstrap"></use>
                        </svg>
                    </a>

                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="#" class="nav-link text-secondary">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24" aria-hidden="true">
                                    <use xlink:href="#home"></use>
                                </svg><ya-tr-span data-index="66-0" data-translated="true" data-source-lang="en"
                                    data-target-lang="ru" data-value=" Home " data-translation=" Главная " data-ch="0"
                                    data-type="trSpan" style="visibility: inherit !important;"> Главная
                                </ya-tr-span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24" aria-hidden="true">
                                    <use xlink:href="#speedometer2"></use>
                                </svg><ya-tr-span data-index="67-0" data-translated="true" data-source-lang="en"
                                    data-target-lang="ru" data-value=" Dashboard "
                                    data-translation=" Информационная панель " data-ch="0" data-type="trSpan"
                                    style="visibility: inherit !important;" data-selected="false"> Информационная панель
                                </ya-tr-span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24" aria-hidden="true">
                                    <use xlink:href="#table"></use>
                                </svg><ya-tr-span data-index="68-0" data-translated="true" data-source-lang="en"
                                    data-target-lang="ru" data-value=" Orders " data-translation=" Приказы " data-ch="0"
                                    data-type="trSpan" style="visibility: inherit !important;"> Приказы
                                </ya-tr-span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24" aria-hidden="true">
                                    <use xlink:href="#grid"></use>
                                </svg><ya-tr-span data-index="69-0" data-translated="true" data-source-lang="en"
                                    data-target-lang="ru" data-value=" Products " data-translation=" Продукты "
                                    data-ch="0" data-type="trSpan" style="visibility: inherit !important;"> Продукты
                                </ya-tr-span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24" aria-hidden="true">
                                    <use xlink:href="#people-circle"></use>
                                </svg><ya-tr-span data-index="70-0" data-translated="true" data-source-lang="en"
                                    data-target-lang="ru" data-value=" Customers " data-translation=" Клиенты "
                                    data-ch="0" data-type="trSpan" style="visibility: inherit !important;"
                                    data-selected="false"> Клиенты </ya-tr-span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="px-3 py-2 border-bottom mb-3">
            <div class="container d-flex flex-wrap justify-content-center">
                <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
                    <input type="search" class="form-control" placeholder="Поиск..." aria-label="Поиск">
                </form>

                <div class="text-end">
                    <button type="button" class="btn btn-light text-dark me-2"><ya-tr-span data-index="42-0"
                            data-translated="false" data-source-lang="en" data-target-lang="ru" data-value="Login"
                            data-translation="Вход" data-ch="1" data-type="trSpan"
                            style="visibility: inherit !important;">Вход</ya-tr-span></button>
                    <button type="button" class="btn btn-primary"><ya-tr-span data-index="42-1" data-translated="false"
                            data-source-lang="en" data-target-lang="ru" data-value="Sign-up"
                            data-translation="Регистрация" data-ch="1" data-type="trSpan"
                            style="visibility: inherit !important;">Регистрация</ya-tr-span></button>
                </div>
            </div>
        </div>
    </header>

    <div class="card shadow-sm car-img"></div>


    <h1>КАТАЛОГ</h1>


    <div class="d-flex justify-content-center flex-wrap col-lg-6 mx-auto">


    <div class="card car1-img" style="width: 18rem;">
        <img src="https://motor.ru/imgs/2023/06/18/06/5944229/29b99e0fbc2318d5545c591ae3fcba43280938f5.jpg"
            class="card-img-top" alt="Rolls-Royce Phatom">
        <div class="card-body">
            <h1 class="card-title">Rolls-Royce Phantom</h1>
            <h3>97 500 000₽</h3>
            <br>Характеристики:
            <br>Год выпуска: 2025
            <br>Поколение: VIII (2017—2025)
            <br>Состояние: Не битый
            <br>Модификация: 6.8 AT (571 л.с.) EWB
            <br>Объём двигателя: 6.8 л
            <br>Тип двигателя: Бензин
            <br>Коробка передач: Автомат
            <a href="#" class="btn btn-primary">Заказать</a>
        </div>
    </div>



    <div class="card" style="width: 18rem;">
        <img src="https://gateauto.ru/upload/resize_cache/iblock/639/1920_1080_1/3lt07veo7d05p6ntx9r3gia7zhl6m3gf.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h1 class="card-title">Mercedes-Benz G63 AMG</h1>
            <h3>38.600.000₽</h3>
            <br>Характеристики:
            <br>Год выпуска: 2024
            <br>Поколение: VIII (2017—2025)
            <br>Состояние: Не битый
            <br>Модификация: 7.0 AT (585 л.с.) AMG
            <br>Объём двигателя: 4.0 л 
            <br>Тип двигателя: Бензин
            <br>Коробка передач: Автомат
            <a href="#" class="btn btn-primary">Заказать</a>
        </div>
    </div>

</div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>

</html>